<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/libraries/p5.min.js"></script>
    <script src="/projects/p5/flocking-simulation/sketch.js"></script>
    <script src="/projects/p5/flocking-simulation/Boid.js"></script>
    <script></script>
  </head>

  <body></body>
</html>
