<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
    <link rel=" stylesheet" type="text/css" href="/css/styles.css" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="projects-wrapper">
      <!-- NAV -->
      <div class="projects-nav-wrapper">
        <div class="projects-nav">
          <!-- LOGO -->
          <div class="projects-nav-logo-wrapper">
            <div class="projects-nav-logo"><a href="/">Kdotdot</a></div>
          </div>
          <!-- SEARCH -->
          <div class="projects-nav-search-wrapper">
            <div class="projects-nav-search">
              <input
                class="projects-nav-search-text"
                type="text"
                name=""
                placeholder="Type to search"
              />
              <a class="projects-nav-search-btn" href=""
                ><i class="fas fa-search"></i
              ></a>
            </div>
          </div>
          <!-- LINKS -->
          <div class="projects-nav-links-wrapper">
            <div class="projects-nav-links">
              <a href="https://github.com/kdotdot/"
                ><i class="fab fa-github"></i
              ></a>
              <a href="/contact"><i class="fas fa-envelope"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- CONTENT -->
      <div class="projects-content-wrapper">
        <div class="projects-content"></div>
        <div class="projects-content"></div>
        <div class="projects-content"></div>
        <div class="projects-content"></div>
        <div class="projects-content"></div>
        <div class="projects-content-fill-empty"></div>
        <div class="projects-content-fill-empty"></div>
        <div class="projects-content-fill-empty"></div>
        <div class="projects-content-fill-empty"></div>
      </div>
    </div>
  </body>
</html>
